**.class
**.gxt
/zoneviewer/**
!/zoneviewer/map.png
!/zoneviewer/*.cs
!/zoneviewer/readme.txt
/map-construction-editor-tools/*
!/map-construction-editor-tools/*.c
!/map-construction-editor-tools/*.txt
/mapconverter/*
!/mapconverter/*.c
!/mapconverter/*.txt
